* {
    padding: 0;
    margin: 0;
}
.w {
    width: 1200px;
    margin: auto;
}
body {
    background-color: #f3f5f7;
}
li {
    list-style: none;
}
button {
    border: none;
}
.header {
    height: 42px;
    margin-top: 29px;
    margin-bottom: 29px;
}
.logo {
    float: left;
    margin-right: 70px;
}
.nav {
    float: left;
}
.nav ul li a {
    display: block;
    height: 40px;
    padding: 0 10px;
    margin-right: 20px;
    font-size: 18px;
    color: #646566;
    line-height: 40px;
    text-decoration: none;
}
.nav ul li {
    float: left;
}
.nav ul li a:hover {
    border-bottom: 2px solid #00a4ff;
}
.search {
    float: left;
    margin-left: 65px;
}
.search input {
    float: left;
    width: 340px;
    height: 40px;
    padding-left: 20px;
    color: #bfbfbf;
    border: 1px solid #00a4ff;
}
.search button {
    float: left;
    height: 42px;
    width: 50px;
    background: url("images/search.png");
}
.self {
    float: left;
    height: 42px;
    margin-left: 31px;
}
.self img{
    float: left;
}
.info {
    float: left;
    height: 42px;
    margin-left: 6px;
    line-height: 42px;
    font-size: 14px;
    color: #666;
}
.banner {
    height: 420px;
    background: #1c036c url("images/banner2.jpg") no-repeat top center;
}
.subnav {
    float: left;
    width: 150px;
    height: 420px;
    padding: 0 20px;
    background: rgba(0,0,0,.3);
}
.subnav ul li {
    height: 45px;
    line-height: 45px;
}
.subnav ul li a {
    font-size: 14px;
    color: #ffffff;
    text-decoration: none;
}
.subnav ul li a:hover {
    color: #00b4ff;
}
.subnav span {
    float: right;
}
.rigthbaner {
    float: right;
    width: 230px;
    height: 300px;
    margin-top: 50px;
    margin-bottom: 70px;
    background-color: #ffffff;
}
.hd {
    height: 48px;
    text-align: center;
    font-size: 18px;
    line-height: 48px;
    font-weight: 700;
    color: #ffffff;
    background-color: #9bceea;
}
.bd {
    padding: 0 15px;
}
.bd a {
    text-decoration: none;
}
.bd ul li {
    height: 50px;
    border-bottom: 1px solid #ccc;
    margin-top: 10px;
}
.bd ul li h4 {
    font-size: 14px;
    color: #4e4e4e;
}
.bd ul li p {
    font-size: 12px;
    color: #a5a5a5;
}
.df {
    height: 38px;
    width: 198px;
    border: 1px solid #22b0ff;
    margin: 0 auto;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    line-height: 38px;
    color: #11aaff;
}
.df:hover {
    background-color: #22b0ff;
    color: #ffffff;
}
.goods {
    height: 60px;
    margin-top: 8px;
    background-color: #fff;
    line-height: 60px;
    box-shadow: 2px 2px 2px rgba(0,0,0,.2);
}
.goods h3{
    float: left;
    padding: 0 34px;
    color: #00a4ff;
}
.goods-item {
    float: left;
}
.goods-item a {
    padding: 0 35px;
    text-decoration: none;
    font-size: 16px;
    color: #262626;
}
.mod {
    float: right;
    margin-right: 30px;
    font-size: 14px;
    color: #00a4ff;
}
.body {
    height: 620px;
    margin-top: 15px;
}
.body-bh {
    height: 62px;
    line-height: 62px;
}
.body-bh h3 {
    float: left;
    color: #494949;
}
.body-bh a {
    float: right;
    font-size: 12px;
    color: #afb0b0;
    text-decoration: none;
}
.box-bd {
    height: 558px;
    width: 1215px;
}
.box-bd li {
    float: left;
    height: 270px;
    width: 228px;
    margin-right: 15px;
    margin-bottom: 15px;
    background-color: #ffffff;
    box-shadow: 2px 2px 2px rgba(0,0,0,.2);
}
.box-bd ul li img {
    width: 100%;
    height: 155px;
}
.box-bd ul li h4 {
    padding: 25px 20px;
}
.box-bd ul li p {

}
.box-bd ul li span {

}







